<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="zh_cn">
  <meta charset="utf-8">
  <body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div align="center">
         <h2>设置成功！</h2>
    </div>
     <div style="word-wrap:break-word;word-break:break-all;margin:0 200px 0 200px;">
         <br>
         <p align="left">用户名：</>
   	     <p style="margin:0 10px 0 10px";>{{user.name}}</p>
         <p>SSH:</>
   	     <p style="margin:0 10px 0 10px";>{{user.ssh_rsa}}</p>
     </div>
  </body>
</html>
